@font-face {
    font-family: "roboto";
    src: url("/fonts/Roboto-Black.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100vh;
}

body{
    display: flex;
    font: 1.3rem sans-serif;
    margin: 0 auto;
    width: 70%;
    height: 100%;
    background-color: black;
    font-family: "roboto" sans-serif;
}

section {
    display: grid;
    background-color: white;   
}

div {
    display: flex;
    flex-direction: column;
}

form {
    display:grid;
}

.name-info,
.general-info,
.password-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1em;
    padding-left: 1em;
}

.button {
    padding: 1em;
    background-color: #f2f2f2;
    border-top: 1px solid gray;
    flex: 1 1 auto;
}

button {
    padding: 0.5em 1em;
    width: 30%;
    font: bold 1em sans-serif;
    color: white;
    border-radius: 5px;
    background-color: #596D48;
    cursor: pointer;
    border: 1px solid white;
}

.button a:visited,
.button a:active,
.button a:link,
.button a:active {
    color: #54802e;
    text-decoration: none;
}

.info-text {
    display: grid;
    background-color: #f2f2f2;
    align-content: end;
}

.info-text p {
    color: black;
    width: 77%;
    margin: 0;
    padding: 1em;
}

h3 {
    padding: 1em;
    margin: 0;
}

label {
    order: 1;
    width: 60%;
    font-size: medium;
    font-family: "Roboto";
}

input {
    order: 2;
    width: 60%;
    font: 1em sans-serif;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
}

.background-img {
    position: relative;
    height: 100%;
    width: 52%;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;   
}

.logo {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center; /*Align item vertically*/
    justify-content: center; /*Center the contents*/
    background-color: black;
    opacity: 0.52;
}

.logo p {
    font-size: 3rem;
    margin: 20px;
    padding: 10px;
}

.cat-logo {
    width: 100px;
    filter: invert(100%) 
            sepia(100%) 
            saturate(0%) 
            hue-rotate(296deg) 
            brightness(101%) 
            contrast(104%);
}

img {
    height: 100%;
    width: 100%;
    z-index: 0;
}

.logo {
    position: absolute;
    width: 100%;
    top: 30%;
    text-align: center;
    color: white;
}

.photo-credit {
    position: absolute;
    width: 100%;
    bottom: 0%;
    color: white;
    text-align: center;
    font-size: 0.8rem;
}

a:link,
a:visited ,
a:hover,
a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
